<div class="wordpress_blog_post" *ngIf="wordpressBlogPost" appRemoveAttribute>

  <div class="container-fluid bg-gray" style="background-image: url('{{wordpressBlogPost['yoast_head_json']['og_image'][0]['url']}}'); background-repeat: no-repeat; background-size: cover;">
    <img src="{{wordpressBlogPost['yoast_head_json']['og_image'][0]['url']}}" class="img-fluid  invisible">
  </div>

  <div class="container-fluid bg-gray pb-5 pt-4">
    <div class="container">
      <p>
        {{wordpressBlogPost["date"].toString().split("T")[0]}}
      </p>
      <div class="text-center">
        <h1>{{wordpressBlogPost["title"]["rendered"]}}</h1>
      </div>
    </div>

  </div>

<div class="container">
  <div class="py-3" innerHTML='{{wordpressBlogPost["content"]["rendered"]}}'></div>

</div>

    <a href="{{wordpressBlogPost['link']}}">{{wordpressBlogPost['link']}}</a>
</div>
